<title>Price Recommender Form</title>

{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'siteApp/normalize.css' %}" media="screen">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'siteApp/stylesheet.css' %}" media="screen">
<link rel="stylesheet" type="text/css" href="{% static 'siteApp/github-light.css' %}" media="screen">

<body>
    <section class="page-header">
      <h1 class="project-name">Price Recommender Form</h1>
      <h2 class="project-tagline">we try to recommend you the best price!</h2>
    </section>

<section class="main-content">
    <form method="post" action="/processForm/">
         {% csrf_token %}
         {{ form.as_p }}
         <input type="submit" value="Submit" />
    </form>
</section>

</body>




